<form method="post" action="{{ path('app_client_magasin_delete', {'id': client_magasin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client_magasin.id) }}">
    <button class="btn">Delete</button>
</form>
