{% extends 'base.html.twig' %}

{% block title %}ClientMagasin index{% endblock %}

{% block body %}
    <h1>ClientMagasin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client_magasin in client_magasins %}
            <tr>
                <td>{{ client_magasin.id }}</td>
                <td>
                    <a href="{{ path('app_client_magasin_show', {'id': client_magasin.id}) }}">show</a>
                    <a href="{{ path('app_client_magasin_edit', {'id': client_magasin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_magasin_new') }}">Create new</a>
{% endblock %}
